html {
    min-height: 100vh;
    min-width: 100vh;
    cursor: url("cursor.png") 16 16, auto;
}

                                /*--------- Page layout ---------*/

div{
    display: flex;
    justify-content: center;
}

p{
    color: rgb(0, 174, 174);
    font-size: 30px;
    display: inline-block;
    padding: 5px;
    background-color: rgba(240, 255, 255, 0.5);
    margin-left: 10px;
    border-radius: 10px;
}

h1{
    margin-top: 10px;
    color: orange;
    font-size: 4.7em;
    margin-left: 60px;
}
.h1avg{
    color: orange;
    font-size: 50px;
    margin-left: 55px;
    position: absolute;
    top: 10px;
}

a, button, .botmpanel, .terugbut {
    cursor: url("cursor-pointer.png") 16 16, pointer !important;
}

body {
    min-height: 90vh;
    min-width: 90vh;
    background-color: rgb(173, 254, 215);
    background-image: url("Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 0.5s;
}

::-webkit-scrollbar { display: none; }

.contact{
    margin-left: 100px;
}
                                                 /*------ dark-theme ------*/
.contact{
    margin-left: 100px!important;
}
body.dark-theme {
    background-color: rgb(27, 29, 42);
    background-image: url("DTBackground.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#theme-toggle {
    position: sticky;
    padding: 5px 5px;
    background: rgba(100, 184, 237, 0.8);
    color: rgba(255, 68, 0, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 1s;
    top: 10px;
    left: 95%;
}

body.dark-theme #theme-toggle{
    position: sticky;
    padding: 5px 5px;
    background: #0042cf80;
    color: rgb(32, 205, 110);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: 1s;
    top: 10px;
    left: 95%;
}

body.dark-theme p{
    color: rgb(0, 145, 145);
    font-size: 30px;
    display: inline-block;
    padding: 5px;
    background-color: rgba(240, 255, 255, 0.25);
    margin-left: 10px;
    border-radius: 10px;
}
                                     /*--------- Main navigation buttons style ---------*/

#voorst{
    position:absolute;
    top: 32.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#opl{
    position:absolute;
    top: 47.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#talen{
    position:absolute;
    top: 62.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#contact{
    position:absolute;
    top: 77.5%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

                                         /*--------- <a> buttons style ---------*/

.hrefbut:link, .hrefbut:visited {
    font-size: 50px;
        
    background-color:rgb(255, 165, 0);
     
    border-radius: 10px;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.1s;
    box-shadow: 5px 5px 7px rgba(120, 76, 1, 0.3);
    backdrop-filter: blur(10px);
}

.hrefbut:hover, .hrefbut:active{
    color: orange;
    background-color: rgba(164, 255, 211, 0.4);
    font-size: 52px;
    backdrop-filter: blur(5px);
}

                                                    /*--------- Table style ---------*/

table{
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: rgb(0, 134, 25);
    -webkit-text-stroke: 0.25px rgb(0, 167, 167);
}
table img{
    height: 20px;
    border-radius: 20%;
}
table, th, td{
    margin: 0 auto;
    width: 800px;
    height: 50px;
}
th, td{
    background-color: rgba(255, 229, 115, 0.8);
    border-radius: 4px;
    border: 1px solid orange;
    backdrop-filter: blur(5px);
}
td{
    display: table-cell;
    vertical-align: middle;
}
.marked_th{
    background-color: rgba(255, 204, 51, 0.9);
    color: rgba(105, 19, 66, 0.455);
    backdrop-filter: blur(5px);
}

                                        /*--------- Bottom panel & buttons style ---------*/

.botmpanel:link, .botmpanel:visited {
    font-size: 15px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 2.5px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 0.15s;
    box-shadow: 0 0 3px rgba(195, 255, 242, 0.8);
    margin: auto 15px;
}

.botmpanel:hover, .botmpanel:active {
    color: rgb(255, 56, 83);
    background-color: rgba(0, 0, 0, 0);
    font-size: 16px;
}

#bottompanel{
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 214, 179, 0.4);
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 36px;
}
.AVG{
    padding: 50px !important;
    font-size: 16px;
    background-color: rgba(240, 255, 255, 0.6);
    border-radius: 10px;
    display: inline-block;
    margin: -10px 70px 70px;
}

                                                     /*--------- List style ---------*/

ol{
    color: rgb(0, 167, 167);
    font-size: 20px;
    display: inline-block;
    padding: 5px;
    
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 15px;
}
ul, .li_van_ul{
    color: rgb(0, 115, 105);
    font-size: 22px;
    display: inline-block;
    padding: 5px;
    margin-left: 30px;
    margin-top: 5px;
    border-radius: 15px;
}

.li_van_ul{
        background-color: rgba(255, 255, 255, 0.3);
}
li{
    color: rgb(255, 56, 83);
    font-size: 38px;
    display: inline-block;
    padding: 5px;

    margin: 8px 10px;
    border-radius: 15px;
}


                                                /*--------- Terug button style ---------*/
.terugbut{
    border-radius: 0 !important;
    font-size: 17px !important;
    padding: 5px 5px 5px 12px !important;
    position: sticky !important;
    top: 15px !important;
    margin-left: 0;
    clip-path: polygon(0% 50%, 15% 0%, 100% 0%, 100% 100%, 15% 100%);
}

                                                /*--------- Dropdown menu ---------*/
.dropdown {
    font-size: 35px;
    margin-left: 50px;
    margin-top: 10px;
}

.dropdown-btn {
    width: 300px;
    background-color: rgba(100, 184, 237, 0.7);
    color: rgba(255, 140, 0, 0.95);
    border: none;
    padding: 7px 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 30px;
    user-select: none;
    transition: 0.2s;
}

.dropdown-btn:hover {
    filter: brightness(1.1);
}

.dropdown-content {
    display: none;
    margin-top: 10px;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown-container {
    display: flex;
    gap: 50px;
}

.dropdown {
    position: relative;
    width: 275px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    padding: 8px;
    width: 250px;
    flex-direction: column;
}

.dropdown.open .dropdown-content {
    display: flex;
}
.dropdown-p{
    margin-left: 5px !important;
}

                                /*--------- Cookies ---------*/

.cookie-message{
    transform: translateX(-50%);
    margin-left: 50%;
    color: rgba(32, 178, 139, 0.95);
    background: rgba(245, 245, 245, 0.8);
    position: absolute;
    z-index: 100;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.cookie-message.no-display{
    display: none;
}

.cookie-href:link, .cookie-href:visited{
    color: darkorange;
    text-decoration: none;
}

.accept-cookie{
    margin-left: 10px;
    border: none;
    background: lightblue;
    border-radius: 5px;
    color: rgb(255, 56, 83);
    padding: 4px;
}
